#zeiss {
    margin: 0;
    padding: 0;
    display: block;
}

#zeiss.sponsor {
    margin-bottom: -20px; /* Adjust this value as needed */
}

#heidelberger-druckmaschinen.sponsor {
    transform: scale(120%);
}

/* FAQ table styles */
.qa table {
    border-collapse: collapse;
    border: 1px solid white;
}

.qa table td,
.qa table th {
    border: 1px solid white;
    padding: 5px;
    text-align: right;
}