#zeiss {
    margin: 0;
    padding: 0;
    display: block;
}

#zeiss.sponsor {
    margin-bottom: -20px; /* Adjust this value as needed */
}

#heidelberger-druckmaschinen.sponsor {
    transform: scale(120%);
}