{% macro render_sponsors_list() %}

{% for sponsor_type in bag('sponsors')['types'] %}
{% if sponsor_type.sponsors %}
<div class="{{ sponsor_type.id }} sponsor-type">
    <h2>{{ sponsor_type.name }}</h2>
    <ul class="sponsors">
        {% for sponsor in sponsor_type.sponsors %}
        <li class="sponsor{% if sponsor.scale %} {{ sponsor.scale }}{% endif %}" id="{{ sponsor.id }}">
            <a href="/sponsors/{{ sponsor.id }}" target="_blank" rel="noopener">
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" loading="lazy" decoding="async" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endfor %}
{% endmacro %}
