{% macro render_team_member_image(image_file) %}
{% if image_file %}
<img src="{{bag('team')['team_images']}}{{image_file}}" alt="" loading="lazy" decoding="async">
{% else %}
<img src="{{bag('team')['default_image']}}" alt="" loading="lazy" decoding="async">
{% endif %}
{% endmacro %}

{% macro render_team_member_role(role, type) %}
{% if role %}
<p class="member-role">
    {% if type %}
    {{type}}, {{role}}
    {% else %}
    {{ role }}
    {% endif %}
</p>
{% endif %}
{% endmacro %}

{% macro render_team_member_socials(member) %}
<ul class="member-socials">
    {% for platform in ['website', 'linkedin', 'github', 'bluesky', 'mastodon', 'twitter'] %}
    {% if member[platform] %}
    <li class="member-social">
        <a href="{{member[platform]}}" target="_blank" rel="noopener noreferrer">
            <img src="/static/media/social/{{platform}}.svg" alt="link to the team members {{platform}}" loading="lazy" decoding="async" width="24" height="24">
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endmacro %}
