ix:{% extends "layout.html" %}

{% block title %}{{ this.title }} - PyCon DE & PyData 2026{% endblock %}

{% block body %}
<div class="subsite">
  <div class="subsite-title">
    <section class="content">
      <h2>{{ this.title }}</h2>
    </section>
  </div>
</div>

<section class="subsite">
  <div class="content">
    <div class="error-404">
      {{ this.body }}

      <div class="error-404-links">
        <p><a href="/" class="button">Return to Homepage</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}