{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div class="subsite blog">
  <div class="subsite-title">
    <section class="content">
      <h2>{{ this.title }}</h2>
    </section>
  </div>
</div>

<section class="subsite">
  <ol class="blog-posts">
    {% for child in this.pagination.items %}
    <li>
      <a href="{{ child|url }}" class="content blog-post-link">
        <h3>{{ child.title }}</h3>
        <p class="meta">
        {{child.pub_date}}
        </p>
      </a>
    </li>
    {% endfor %}
  </ol>
</section>

<section class="subsite content">
  {{ render_pagination(this.pagination) }}
</section>
{% endblock %}
