{% extends "layout.html" %}

{% block header %}
<script src="https://js.tito.io/v2" async></script>
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<div class="subsite">
  <div class="subsite-title">
    <section class="content">
      <h2>{{ this.title }}</h2>
    </section>
  </div>
</div>

<section class="subsite buy-ticket">
    <tito-widget
      event="pysv/pyconde-pydata-staging"
    ></tito-widget>

    <tito-widget
        event="pysv/pyconde-pydata-staging"
        discount-code="ZEISS-HJGT9IY-ALLDAYS"
        releases="speaker-extra-ticket"></tito-widget>
</section>

{% endblock %}
