{% extends "layout.html" %}

{% block header %}
<script src="https://js.tito.io/v2" async></script>
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<div class="subsite">
  <div class="subsite-title">
    <section class="content">
      <h2>{{ this.title }}</h2>
    </section>
  </div>
</div>

<section class="subsite buy-ticket">
    <div class="content">
        {{ this.body }}
    </div>

    <tito-widget
      event="pysv/pyconde-pydata-2025"
    ></tito-widget>
</section>

{% endblock %}
