{% extends "layout.html" %}

{% set bag_name = bag_name|default('faq') %}
{% set faq_data = bag(bag_name) %}

{% block body %}
<div class="subsite">
    <div class="subsite-title">
        <section class="content">
            <h2>{{ this.title }}</h2>
        </section>
    </div>
</div>

<section class="subsite content-block--blue">
    <div class="content">
        <ol>
            {% for section in faq_data.sections|sort(attribute='order') %}
            <li><a href="#{{ section.id }}">{{ section.name }}</a></li>
            {% endfor %}
        </ol>

        {% for section in faq_data.sections|sort(attribute='order') %}

        {% if section.display %}
        <h2 id="{{ section.id }}">{{ section.name }}</h2>
        {% if section.description %}
        <p>{{ section.description }}</p>
        {% endif %}

        <ul>
            {% for qa in section.qa|sort(attribute='order') %}
            {% if qa.display %}
            <li class="qa">
                <h3>{{ qa.question }}</h3>
                {% if qa.answer.__class__.__name__ == 'list' %}
                <!-- list -->
                {% for item in qa.answer %}
                <p>{% if item.startswith('<') %} {{ item | safe }} {% else %} {{ item }} {% endif %}</p>
                        {% endfor %}
                        {% elif qa.answer.startswith('<') %} <!-- HTML content -->
                            {{ qa.answer | safe }}
                            {% else %}
                            {{ qa.answer | paragraphize | safe }}
                            {% endif %}
                            {% if qa.link %}
                            <a href="{{ qa.link }}" target="_blank">{{ qa.link_display }}</a>
                            {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        {% endfor %}
    </div>
</section>

{% endblock %}
