{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<section class="content-block">
    <div class="content">
        <h2>{{ this.title }}</h2>
    </div>
</section>

<section class="content-block">
    <div class="content">
        <h3>{{ this.conference_title }}</h3>
    </div>
</section>

<section class="content-block">
    <div class="content">
        <h3>{{ this.content_title }}</h3>
    </div>
</section>

<section class="content-block">
    <div class="content">
        <h3>{{ this.community_title }}</h3>
    </div>
</section>

<section class="content-block">
    <div class="content">
    </div>
</section>

{% endblock %}
