{% extends "layout.html" %}
{% from "macros/sponsor.html" import render_sponsors_list %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<section class="landing-page--inactive">
    <div class="headline content content-block">
        <h1>{{ this.title }}</h1>
    </div>

    <div class="conference-highlights content content-block">
        <h2>{{ this.conference_title }}</h2>
        <p>{{ this.conference_highlights }}</p>
    </div>

    <div class="content-highlights content content-block">
        <h2>{{ this.content_title }}</h2>
        <p>{{ this.content_highlights }}</p>
    </div>

    <div class="community-highlights content content-block">
        <h2>{{ this.community_title }}</h2>
        <p>{{ this.community_highlights }}</p>
    </div>

    <section class="sponsors content-block">
        <div class="content">
            <h3>Our Sponsors</h3>
            <p>We are grateful to all our sponsors for their support.</p>
        </div>

        {{ render_sponsors_list() }}
    </section>
</section>

{% endblock %}
