{% extends "layout.html" %}
{% from "macros/sponsor.html" import render_sponsors_list %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<div class="landing-page">
    <div class="headline landing-page--intro">
        <div class="landing-page--content">
            <h1 class="title">{{ this.title }}</h1>
        </div>
    </div>

    <div class="conference-highlights landing-page--section">
        <div class="landing-page--content">
            <h2>{{ this.conference_title }}</h2>
            <p>{{ this.conference_highlights }}</p>

            <ul class="image-reel">
                {% for image in bag('landing_page')['venue_images'] %}
                <li><img src="{{ image }}" alt="venue image"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="cta landing-page--section">
        <div class="landing-page--content">
            <a href="{{ this.cta_target }}" class="newsletter">{{ this.cta }}</a>
        </div>
    </div>

    <div class="content-highlights landing-page--section">
        <div class="landing-page--content">
            <h2>{{ this.content_title }}</h2>
        </div>
    </div>

    <div class="speakers landing-page--section">
        <div class="landing-page--content">
            <h2>{{ this.speakers_title }}</h2>

            <ul class="image-reel">
                {% for image in bag('landing_page')['speaker_images'] %}
                <li><img src="{{ image }}" alt="speaker image"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="workshops landing-page--section">
        <div class="landing-page--content">
            <h2>{{ this.workshops_title }}</h2>

            <ul class="image-reel">
                {% for image in bag('landing_page')['workshop_images'] %}
                <li><img src="{{ image }}" alt="workshop image"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="community-highlights landing-page--section">
        <div class="landing-page--content">
            <h2>{{ this.community_title }}</h2>

            <ul class="image-reel">
                {% for image in bag('landing_page')['community_images'] %}
                <li><img src="{{ image }}" alt="conference image"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="organizers landing-page--section">
        <div class="landing-page--content">
            <h2>{{ this.organizers_title }}</h2>

            <ul class="image-reel">
                {% for image in bag('landing_page')['organizer_images'] %}
                <li><img src="{{ image }}" alt="conference image"></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="sponsors landing-page--section">
        <div class="landing-page--long-content">
            <h2>Our Sponsors</h2>
            <p>We are grateful to our sponsors for their support.</p>
            {{ render_sponsors_list() }}
        </div>
    </div>
</div>

{% endblock %}
