{% extends "layout.html" %}
{% from "macros/sponsor.html" import render_sponsors_list %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<section class="intro">
    <div class="content">
        <h2>PyCon DE & <span class="subtitle">PyData 2025</span></h2>
        <p class="conference-date">The conference PyConDE & PyData 2025 is over.
        <p class="location">!!! SAVE THE DATE !!! PyConDE & PyData 2026 will be held on 13.-17. April 2026.</p>
    </div>
</section>

<section class="intro-illustration">
    <lottie-player src="/static/snakes-horizontal.json" speed="1" loop autoplay></lottie-player>
</section>

<section class="content-block about">
    <div class="content">
        {{ this.about }}
    </div>
</section>

<section class="tickets content-block">
    <div class="content">
        {{ this.tickets }}
    </div>
</section>

<section class="tickets cta">
    <div class="content">
        {{ this.tickets_cta }}
    </div>
</section>

<section class="financial-aid content-block">
    <div class="content">
        {{ this.financial_aid }}
    </div>
</section>

<section class="financial-aid cta">
    <div class="content">
        {{ this.financial_aid_cta }}
    </div>
</section>

<section class="call-for-proposals content-block">
    <div class="content">
        {{ this.call_for_proposals }}
    </div>
</section>

<section class="call-for-proposals cta">
    <div class="content">
        {{ this.call_for_proposals_cta }}
    </div>
</section>

<section class="updates content-block">
    <div class="content">
        {{ this.updates }}
    </div>
</section>

<section class="updates cta">
    <div class="content">
        {{ this.updates_cta }}
    </div>
</section>

<section class="sponsors content-block">
    <div class="content">
        <h3>Our Sponsors</h3>
    </div>

    <div class="content">
        {{ render_sponsors_list() }}
    </div>
</section>

<section class="sponsoring content-block">
    <div class="content">
        {{ this.sponsoring }}
    </div>
</section>

<section class="sponsoring cta">
    <div class="content">
        {{ this.sponsoring_cta }}
    </div>
</section>

{% endblock %}
