<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — PyconDE</title>

<body>
  <header>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path=='/' %} class="active" {% endif %}><a href="{{ '/'|url }}">Welcome</a></li>
          {% for href, title in [
          ['/blog', 'Blog'],
          ['/faq', 'FAQs'],
          ['/sponsors', 'Sponsors'],
          ['/program', 'Program'],
          ['/schedule', 'Schedule'],
          ['/speakers', 'Speakers'],
          ['/info', 'Info'],
          ['/register', 'Register'],
          ] %}
          <li{% if this.is_child_of(href) %} class="active" {% endif %}><a href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}
      </ul>
    </nav>

    <div class="hero">

    </div>
  </header>

  <div class="page">
    {% block body %}{% endblock %}
  </div>

  <footer>
    &copy; Copyright 2024 by pioneershub.
  </footer>
</body>
