{% extends "layout.html" %}

{% block title %}
    {{ this.title }}
{% endblock %}

{% block body %}
    <div class="subsite">
        <div class="subsite-title">
            <section class="content">
                <h1 class="title">{{ this.title }}</h1>
                <h2 class="title">{{ this.trainer }}</h2>
                <h3 class="title">{{ this.date }} incl. breaks, {{ this.hours }} hours</h3>
                {% if this.tags %}
                    <div class="tags">
                        {% for tag in this.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
        </div>
    </div>

    <section class="content-block--blue-light cta">
        <div class="content">
            <p><a href="/buy-ticket">Space is limited 👉 Get your ticket for {{ this.title }} in our ticket shop</a></p>
        </div>
    </section>


    <section class="subsite blog content-block--blue">
        <div class="content">
            {{ this.body }}
        </div>
    </section>

    <section class="content-block--blue-light cta">
        <div class="content">
            <p><a href="/buy-ticket">Space is limited 👉 Get your ticket for {{ this.title }} in our ticket shop</a></p>
        </div>
    </section>


    <section class="subsite blog content-block--green">
        <div class="content">
            {{ this.notes }}
        </div>
    </section>


{#    <section class="content-block--green cta">#}
{#        <div class="content">#}
{#            <p>Space is limited 👉 Get your ticket for {{ this.title }} <a href="/buy-ticket">in our ticket shop</a></p>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
