{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<div class="subsite">
    <div class="subsite-title">
        <section class="content">
            <h1>{{ this.title }}</h1>
            <p class="subtitle">{{ this.subtitle }}</p>
        </section>
    </div>
</div>

<section class="subsite content-block--red-light">
    <div class="content">
        {{ this.body }}
    </div>
</section>

<section class="content embedded">
    <iframe src="{{ this.url }}" frameborder="0" scrolling="auto" allowfullscreen
        style="display: block;width:100%;height:100%"></iframe>
</section>

{% endblock %}
