{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}

<div class="subsite">
  <div class="subsite-title">
    <section class="content">
      <img src="{{this.logo }}" alt="{{this.name}} logo" class="sponsor-logo">
      <h1 class="title">{{ this.name }}</h1>
      <p class="title">{{ this.type }} of PyCon DE &amp; PyData {{ site.config.PROJECT.year }}</p>
    </section>
  </div>
</div>

<section class="subsite sponsor">
  <div class="content">
    {{ this.full_description }}

    {% if this.website %}
    <div><a href="{{ this.website }}" class="sponsor-website">{{ this.website }}</a></div>
    {% endif %}
  </div>
</section>

{% endblock %}
