{% extends "layout.html" %}
{% from "macros/talks.html" import render_talk %}

{% block title %}
{{ this.title }}
{% endblock %}

{% block body %}

<div class="subsite">
  <div class="subsite-title">
    <section class="content">
      <h3 class="talk-title">
        {{ this.title }}
      </h3>
      <h4>
        {{ this.speaker_names }}
      </h4>
    </section>
  </div>
</div>

<section class="subsite">
  <div class="content">
    {{ this.full_description }}
  </div>
</section>

{% endblock %}
