{% extends "layout.html" %}

{% block title %}
{{ this.title }}
{% endblock %}

{% block body %}

<div class="subsite">
  <div class="subsite-title">
    <section class="content">
      <h2 class="talk-title">
        {{ this.title }}
      </h2>
      <h3 class="talk-subtitle">
        {{ this.speaker_names }}
      </h3>
      <div class="talk-info-container">
        <div class="track-container">
          <span class="track">{{ this.track }}</span>
        </div>
        {% if this.python_skill or this.domain_expertise %}
        <div class="python-skill-container">
          <span class="python-skill-label talk-info-label">Python Skill</span>
          <span class="levels">{{ this.python_skill }}</span>
        </div>
        <div class="domain-expertise">
          <span class="domain-expertise-label talk-info-label">Domain Expertise</span>
          <span class="levels">{{ this.domain_expertise }}</span>
        </div>
        {% endif %}
      </div>
    </section>
  </div>
</div>

<section class="subsite talk">
  <div class="content">
      <div class="details">
          {{ this.day }} {{ this.start_time }}
          {% if this.room %}
          in {{ this.room}}
          {% endif %}
      </div>

      <div class="description">
          {{ this.full_description }}
      </div>

      <div class="authors">
        {{ this.speakers }}
      </div>

      <img src="{{this.social_card_image}}" alt="">
  </div>
</section>

{% endblock %}
