{% extends "layout.html" %}
{% from "macros/talks.html" import render_talk %}

{% block title %}
{{ this.title }}
{% endblock %}

{% block body %}

<div class="subsite">
  <div class="subsite-title">
    <section class="content">
      <h2 class="talk-title">
        {{ this.title }}
      </h2>
      <h3 class="talk-subtitle">
        {{ this.speaker_names }}
      </h3>
    </section>
  </div>
</div>

<section class="subsite talk">
  <div class="content">
      <div class="details">
          {{ this.day }} {{ this.start_time }}
          {% if this.room %}
          in {{ this.room}}
          {% endif %}
      </div>

      <div class="track">{{ this.track }}</div>

      <div class="description">
          {{ this.full_description }}
      </div>

      <ul class="level">
      </ul>

      <ul class="authors">
      </ul>
  </div>
</section>

{% endblock %}
