/* Resets */
body {
    font-family: 'Helvetica Neue', 'IBM Plex Sans', Arial, sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

html:focus-within{
    scroll-behavior: smooth;
}

/* Typography */
h1, h2 {
    font-weight: bolder;
    font-size: 6vw;
}

h3 {
    font-weight: bold;
    font-size: 4vw;
}
