name: Fetch submissions

on:
  # runs once per day at midnight
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  fetch_submissions:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: true
      - name: Setting up python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install project
        run: uv sync --locked --all-extras
      - name: Run submissions fetcher
        run: make fetch-submissions
        env:
          PRETALX_API_KEY: ${{ secrets.PRETALX_API_KEY }}
          PRETALX_EVENT_NAME: ${{ secrets.PRETALX_EVENT_NAME }}
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Fetches submissions and updates talk pages
